@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}
@theme {
  --color-primary: #5f6FFF;
}

html {
  scroll-behavior: smooth;
  scrollbar-width:thin;
  scrollbar-color: rgba(95, 111, 255, 0.65) transparent;
}